<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/find_meeting.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="javascripts/_find_meetings.js"></script>
</head>

<body onload="main('<%=user.id%>')">
   <% include partials/login %>
    <h2>
    See who else is interested in: 
    </h2>
    <div id="selectable">
        <% user.topics.forEach(function(topic){  %>
        <span id="<%=topic.id%>">
            <%=topic.name%>
        </span>
        <% }); %>
    </div>

    <div id="interested">
    </div>

<% include partials/footer.ejs %>