<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/find_meeting.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="javascripts/_find_meetings.js"></script>

</head>

<body onload="main()">
   <% include partials/login %>
    <h2>
    Choose a topic, join the meeting 
    </h2>
    <div id="selectable">
        <% user.topics.forEach(function(topic){  %>
        <span id="<%=topic.id%>"><%=topic.name%></span>
        <% }); %>
    </div>
    <a id="findMeeting" href="find_meetings" class="findmeetingsubmit">Meet About:</a>

<% include partials/footer.ejs %>