<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/meeting.css' />
    <script type="text/javascript" src="/javascripts/_messages.js"></script>
</head>

<body onload="onMessages();">
    <div id="#meetingchat">
        <% if(locals.messages) { 
                messages.forEach(function(msg){ 
                    var msgStyle; %>
        <%if(msg.user._id == user._id){
                msgStyle="from-me";
             }else{ 
                msgStyle='from-them';
             } %>
        <img src="<%=msg.user.profile_photo_url%>"> <%=msg.user.name%>
        <p class="<%=msgStyle%>">
            <%=msg.message%>
        </p>
        <%})};%>
    </div>
    <a name="end">&nbsp;</a>
</body>

</html>