@use postcss-nested;

#meetingchat {
    font-size: 20px;
    font-weight: normal;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}


.wrapper         {width: 50vw; height: 100%; margin-top: 15px  ;}
.h_iframe        {position: relative; padding-top: 56%;}
.h_iframe iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.joinmeeting {
    font-size:48px;
    border-radius: 25px;
    background-color: orange;
    color:white;
    padding:20px;
    width:50vw;
    margin: auto;
    text-align: center;
}
.joinmeeting a {
    color:white;
}

.joinmeeting:hover {
    background-color: lightgrey;
}

img {
    margin-right:5px;
    width:25px;
    height:25px
}

p {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        height: 20px;
    }
}

.from-me {
    color: white;
    background: #0B93F6;
    align-self: flex-end;
    &:before {
        right: -7px;
        border-right: 20px solid #0B93F6;
        border-bottom-left-radius: 16px 14px;
        transform: translate(0, -2px);
    }
    &:after {
        right: -56px;
        width: 26px;
        background: white;
        border-bottom-left-radius: 10px;
        transform: translate(-30px, -2px);
    }
}

.from-them {
    background: #E5E5EA;
    color: black;
    &:before {
        left: -7px;
        border-left: 20px solid #E5E5EA;
        border-bottom-right-radius: 16px 14px;
        transform: translate(0, -2px);
    }
    &:after {
        left: 4px;
        width: 26px;
        background: white;
        border-bottom-right-radius: 10px;
        transform: translate(-30px, -2px);
    }
}