body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

:root {
  --kalblue: #006EFA;
  --kalorange: #FFAA00;
  --kal_lightblue: #41BEFF;
}

textarea {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  resize: none;
}

a {
  color: var(--kal_lightblue);
  text-decoration: none;
}

.flash {
  background-color: var(--kal_lightblue);
  color: white;
  display: inline-block;
  padding: 15px;
}

img {
  border-radius: 5px;
}

.user {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
  width: 60%;
}

.userdesc {
  border-radius: 5px;
  background-color: lightgray;
  padding: 5px;
  margin-top: 5px;
  color: black;
}

.loginimg {
  width: 32px;
  vertical-align: middle;
  margin-right: 5px;
}

.loginitem {
  margin: 5px;
  padding: 5px;
  border: 1px solid grey;
}

.loginitem:hover {
  background-color: lightgray;
}

h2 {
  background-color: var(--kal_lightblue);
  display: inline-block;
  padding: 10px;
  border-radius: 25px;
}

.logo {
  font-size: 64px;
  padding: 15px;
  border-radius: 25px;
  display: table;
  background-color: var(--kalblue);
}

.logo:hover {
  background-color: lightgray;
}
.findmeetingsubmit {
  border: none;
  border-radius: 25px;
  background-color:var(--kalorange);
  color: white;
  font-weight: bold;
  font-size: 64px;
  padding: 15px;
  display: table;
  margin: auto;
  margin-top: 5px;
}